@use '../../scss/index.scss'  as *;
@use '../../scss/mixins' as * ;

.overview {
    box-shadow: 0 10px 20px -5px rgba(115,115,115,0.75);
    padding: 14px;
    @media  (min-width :767px){
        border-right: 1px solid #eee;
    }
    @media  (max-width :767px){
        flex-direction: column;
    }
    .avatar {
        padding: 14px ;
        img {
            width: 100px;
            height: 100px;
        }
        .level {
            height : 6px ;
            width: 70%;
            overflow: hidden;
            margin: auto;
            span {
                position: absolute;
                left: 0;
                top :0 ;
                height: 100%;
                background-color: var(--blue-color);
                @extend %rad6 ;
            }
        }
    }
}


%rad6 {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}