@use '../../scss/index.scss'  as *;
@use '../../scss/mixins' as * ;
//------------------
.form-control {
    input{
        &[type="date"]{
            max-width: 90%;
        }
        &[type="number"]{
            width: 90%;
        }
        padding: 0.5rem;
        border-radius: 4px;
        border: 1px solid #ccc;
        cursor: pointer;
        &:focus {
            outline: none;
            border-color: #240370;
            background-color: #e0d4fd;
        }
    }
}
//----------------------------------------------------
button {
    display: block;
    font-size: 14px;
    @extend%tran;
    background-color: var(--blue-color);
    color: white;
    width: fit-content;
    margin: auto;
    margin-top: 12px;
    border: none ;
    @extend %btn__shape;
    &:hover {
        background-color: var(--blue-alt-color);
    }
    &:disabled,
    &:disabled:hover,
    &:disabled:active {
        background-color: #ccc;
        color: #292929;
        cursor: not-allowed;
        border:  #ccc;
    }
}

//----------------------------------
.invalid input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
    &:focus {
        border-color: #ff8800;
        background-color: #fbe8d2;
        }
}
//---------------------
.error-text {
    color: #b40e0e;
}

.form-actions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    &-item {
        width: 40%;
        button {
            display: block;
            width: 100%;
        }
    }
}
label {
    font-weight: bold;
}
//-----------------
.error-text_ {
    font-weight: bold;
    font-size: larger;
    color:#f03333 ;
    animation: warning 1.2s linear infinite;
    -webkit-animation: warning 600ms linear infinite ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes warning {
    0% {
        opacity: 100%;
        transform: rotateX(1.2);
        -webkit-transform: rotateX(1.2);
        -moz-transform: rotateX(1.2);
        -ms-transform: rotateX(1.2);
        -o-transform: rotateX(1.2);
}
    100% {
        opacity: 0%;
        transform: rotateX(0.93);
        -webkit-transform: rotateX(0.93);
        -moz-transform: rotateX(0.93);
        -ms-transform: rotateX(0.93);
        -o-transform: rotateX(0.93);
    }
}

%tran {
    transition: 00.3s;
    -webkit-transition: 00.3s;
    -moz-transition: 00.3s;
    -ms-transition: 00.3s;
    -o-transition: 00.3s;
}

